<%= form_for @institution, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :institution, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :institution, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :city, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :city, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :state_id, :class => 'control-label' %>
    <div class="controls">
      <%=f.collection_select(:state_id, State.all, :id, :name, {:include_blank => '-- Please select your state --'}) %>
    </div>
  </div>
  <div class="control-group">
			<%= f.label :attended_from, :class => 'control-label' %>
			<div class="controls">
				<%= f.text_field :attended_from, :class => 'datepicker' %>
			</div>
		</div>
		<div class="control-group">
			<%= f.label :attended_to, :class => 'control-label' %>
			<div class="controls">
				<%= f.text_field :attended_to, :class => 'datepicker' %>
			</div>
		</div>
  <div class="control-group">
    <%= f.label :degree, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :degree, :class => 'text_field' %>
    </div>
  </div>

  <%= f.hidden_field :cs_application_id, :value => current_user.cs_application.id %>


  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                institutions_path, :class => 'btn' %>
  </div>
<% end %>

<script>
	$('.datepicker').datepicker()
</script>
