<%= form_for(@rating) do |f| %>
  <% if @rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

      <ul>
      <% @rating.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :recommendation_id %><br />
    <%= f.number_field :recommendation_id %>
  </div>
  <div class="field">
    <%= f.label :intellect %><br />
    <%= f.number_field :intellect %>
  </div>
  <div class="field">
    <%= f.label :leadership %><br />
    <%= f.number_field :leadership %>
  </div>
  <div class="field">
    <%= f.label :written %><br />
    <%= f.number_field :written %>
  </div>
  <div class="field">
    <%= f.label :verbal %><br />
    <%= f.number_field :verbal %>
  </div>
  <div class="field">
    <%= f.label :reliability %><br />
    <%= f.number_field :reliability %>
  </div>
  <div class="field">
    <%= f.label :timeliness %><br />
    <%= f.number_field :timeliness %>
  </div>
  <div class="field">
    <%= f.label :maturity %><br />
    <%= f.number_field :maturity %>
  </div>
  <div class="field">
    <%= f.label :skill %><br />
    <%= f.number_field :skill %>
  </div>
  <div class="field">
    <%= f.label :commitment %><br />
    <%= f.number_field :commitment %>
  </div>
  <div class="field">
    <%= f.label :independent %><br />
    <%= f.number_field :independent %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
