<%- model_class = Rating -%>
<div class="page-header">
  <h1>Your Ratings Summary</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:intellect) %>:</strong></dt>
  <dd><%= get_rating(@rating.intellect) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:leadership) %>:</strong></dt>
  <dd><%= get_rating(@rating.leadership) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:written) %>:</strong></dt>
  <dd><%= get_rating(@rating.written) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:verbal) %>:</strong></dt>
  <dd><%= get_rating(@rating.verbal) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:reliability) %>:</strong></dt>
  <dd><%= get_rating(@rating.reliability) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:timeliness) %>:</strong></dt>
  <dd><%= get_rating(@rating.timeliness) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:maturity) %>:</strong></dt>
  <dd><%= get_rating(@rating.maturity) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:skill) %>:</strong></dt>
  <dd><%= get_rating(@rating.skill) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:commitment) %>:</strong></dt>
  <dd><%= get_rating(@rating.commitment) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:independent) %>:</strong></dt>
  <dd><%= get_rating(@rating.independent) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:notes) %>:</strong></dt>
  <dd><%= @rating.notes %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_rating_path(@rating), :class => 'btn' %>
  <%= link_to t('.close'),root_url, :id => 'close-window', :class => 'btn' %>
</div>
<script>
	$(document).ready(function() {
		$("#close-window").click(function(event) {
			window.opener=self;
			window.close();
			event.preventDefault();
		});
	});
</script>
