<p id="notice"><%= notice %></p>

<p>
  <b>Recommendation:</b>
  <%= @rating.recommendation_id %>
</p>

<p>
  <b>Intellect:</b>
  <%= @rating.intellect %>
</p>

<p>
  <b>Leadership:</b>
  <%= @rating.leadership %>
</p>

<p>
  <b>Written:</b>
  <%= @rating.written %>
</p>

<p>
  <b>Verbal:</b>
  <%= @rating.verbal %>
</p>

<p>
  <b>Reliability:</b>
  <%= @rating.reliability %>
</p>

<p>
  <b>Timeliness:</b>
  <%= @rating.timeliness %>
</p>

<p>
  <b>Maturity:</b>
  <%= @rating.maturity %>
</p>

<p>
  <b>Skill:</b>
  <%= @rating.skill %>
</p>

<p>
  <b>Commitment:</b>
  <%= @rating.commitment %>
</p>

<p>
  <b>Independent:</b>
  <%= @rating.independent %>
</p>


<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>
