<br />
<h4>Thank you for taking time to provide your recommendations to the applicant. Your input will help us decide whether to accept this application or
to discard it. </h4>

<strong>Recommender's Details (as provided by the student)</strong><br />
Name: <%= @rating.recommendation.name%> <br />
Title: <%=@rating.recommendation.title%> <br />
Contact: <%=@rating.recommendation.email%>
<br /><hr />

<br />
Please verify the password provided to you in your invitation email to continue.
<br />
<%= form_tag submit_password_path(@rating.id), :method => 'get', :id=> @rating.id do %>
	Password: <%= password_field_tag :password%>
	<%= hidden_field_tag :rating_id, @rating.id %>
	<%= submit_tag "Verify"%>
<% end%>

