<%= form_for @cs_application, url: wizard_path, :html => { :class => 'form-horizontal' }  do |f|  %>
	
	<div class="page-header">
  		<h1><%=t '.title', :default => t('Your Application', :default => "Your Application") %></h1>
	</div>
	
	<h3>Provide Your Contact Information</h3>
	<br />
	
	<%= fields_for @contact do |contact|%>
		
		<div class="control-group">
    	<%= contact.label :name, :class => 'control-label' %>
    	<div class="controls">
      		<%= contact.text_field :name, :class => 'text_field' %>
    	</div>
	  	</div>
   	  <div class="control-group">
	    <%= contact.label :line1, :class => 'control-label' %>
	    <div class="controls">
	      <%= contact.text_field :line1, :class => 'text_field' %>
	    </div>
	  </div>
	  <div class="control-group">
	    <%= contact.label :line2, :class => 'control-label' %>
	    <div class="controls">
	      <%= contact.text_field :line2, :class => 'text_field' %>
	    </div>
	  </div>
	  <div class="control-group">
	    <%= contact.label :city, :class => 'control-label' %>
	    <div class="controls">
	      <%= contact.text_field :city, :class => 'text_field' %>
	    </div>
	  </div>
	  <div class="control-group">
	    <%= contact.label :state_id, :class => 'control-label' %>
	    <div class="controls">
	      <%=contact.collection_select(:state_id, State.all, :id, :name, :selected => @cs_application.mailing_address.state_id) %>
	    </div>
	  </div>
	  <div class="control-group">
	    <%= contact.label :zip, :class => 'control-label' %>
	    <div class="controls">
	      <%= contact.number_field :zip, :class => 'number_field' %>
	    </div>
	  </div>
		
		
	<% end%>
	<div class="control-group">
	    <div class="controls">
	      <%= f.check_box :is_citizen, :class => 'number_field' %> This application requires applicants to be a US citizen.<br /> Check if you are a US citizen.
	    </div>
	</div>
	<div class="control-group">
	    <%= f.label :telephone, :class => 'control-label' %>
	    <div class="controls">
	      <%= f.number_field :telephone, :class => 'number_field' %>
	    </div>
	  </div>
  	<div class="form-actions">
  		<%= link_to t('.back'), edit_cs_application_path(@cs_application), :class => 'btn' %>
    	<%= f.submit "Next", :class => 'btn btn-primary' %>
    	<%= link_to t('.cancel', :default => t("helpers.links.cancel")), cs_applications_path, :class => 'btn' %>
  	</div>
  	<br /><br />
<% end%>
