<%= form_for @cs_application, url: wizard_path, :html => { :class => 'form-horizontal' }  do |f|  %>
	<div class="page-header">
  		<h1><%=t '.title', :default => t('Your Application', :default => "Your Application") %></h1>
	</div>
	<h3>Purpose and Transcripts</h3>
	<div class="control-group">
	    <%= f.label :purpose_statement, :class => 'control-label' %>
	    <div class="controls">
	      Attach a MS-Word or equivalent format file containing a brief statement of purpose describing your goals
	       and motivations to pursue a career in Information Assurance and Computer Security (Max 2 pages)
	       <br />
	       <% if !@cs_application.purpose.nil?%>
	       	<strong>File received: <%= link_to @cs_application.purpose_file_name, @cs_application.purpose.url%></strong>
	       	<br /> <br />
	       	Use the button to replace your file <br />
	       <% end%>
	      <%= f.file_field :purpose %>
	    </div>
	</div>
	<hr />
	<div class="control-group">
		<%= f.label :submit_transcripts, :class => 'control-label' %>
		<div class="controls">
			Attach your transcripts. Click on 'Upload' after selecting your file to add another attachment. Attachments can be 
			images of your scanned transcripts.
			<br />
			<%= f.fields_for :transcripts do |transcript|%>
				<%= transcript.file_field :document %>
				<%= transcript.submit "Save", :value => 'Upload' ,:class => 'btn' %>
			<%end%>
			<br /><br />
			<strong>Here are your uploaded transcripts</strong> <br />
			<ol>
				<% @transcript_all = @cs_application.transcripts%>
				<% @transcript_all.each do |transcript|%>
					<li><%=link_to transcript.document_file_name, transcript.document.url%></li>
				<% end%>
			</ol>
		</div>
	</div>
  	<div class="form-actions">
  		<%= link_to t('.back'), previous_wizard_path, :class => 'btn' %>
    	<%= f.submit "Next", :class => 'btn btn-primary' %>
    	<%= link_to t('.cancel', :default => t("helpers.links.cancel")), cs_applications_path, :class => 'btn' %>
  	</div>
  	
<% end%>