<%= form_for @purpose_statement, method: :put, url: wizard_path, :html => { :multipart => true, :class => 'form-horizontal' }  do |f|  %>

    <div class="page-header">
      <h1><%=t '.title', :default => t('Your Application', :default => "Your Application") %></h1>
	</div>
	<h3>Purpose Statement</h3>
	<div class="control-group">
	   <%#= f.label :purpose_statement, :class => 'control-label' %>
      <div class="controls">
	       Attach a PDF file (.pdf) containing a brief statement of purpose describing your goals
	       and motivations to pursue a career in Information Assurance and Computer Security (Max 2 pages)
	       <br /> <br />
           <%= f.file_field :purpose %>
            <% unless !@purpose_statement.errors.has_key?(:purpose)%>
                <span class="help-inline"><%= @purpose_statement.errors[:purpose].join(", ") %></span>
            <%end%>
            <br/>
            <% if :purpose.nil?%>
            <%= f.submit "Save", :value => 'Upload' ,:class => 'btn', disabled: true %>
            <%else%>
            <%= f.submit "Save", :value => 'Upload' ,:class => 'btn' %>
            <%end%>

        <br /><br />
           <strong>Uploaded File:</strong>
           <br /><br />
              <% if !@purpose_statement.purpose_file_name.nil?%>
                File received: <%= link_to @purpose_statement.purpose_file_name, @purpose_statement.purpose.url, :target => '_blank'%>
                <%=link_to t('.Remove'), remove_purpose_path(@cs_application.id), :confirm => 'You are about to remove your uploaded file. Continue?', :class=>'btn btn-danger custom-btn'%>
                <br />
              <% end%>
	    </div>
	</div>
	<hr />

  	<div class="form-actions">
  		<%= link_to t('.back'), previous_wizard_path, :class => 'btn btn-default' %>
    	<%= f.submit "Next", :class => 'btn btn-primary' %>
    	<%= link_to t('.cancel', :default => t("helpers.links.cancel")), cs_applications_path, :class => 'btn btn-danger' %>
  	</div>
<% end%>
