<%= form_for @cs_application, url: wizard_path, :html => { :class => 'form-horizontal' }  do |f|  %>
	<div class="page-header">
  		<h1><%=t '.title', :default => t('Your Application', :default => "Your Application") %></h1>
	</div>
	<h3>Purpose and Transcripts</h3>
	<div class="control-group">
	    <%= f.label :purpose_statement, :class => 'control-label' %>
	    <div class="controls">
	      <%= f.text_area :purpose_statement, :class => 'text_area', :style => "width:670px;" %>
	    </div>
	</div>
	
  	<div class="form-actions">
    	<%= f.submit "Next", :class => 'btn btn-primary' %>
    	<%= link_to t('.cancel', :default => t("helpers.links.cancel")), cs_applications_path, :class => 'btn' %>
  	</div>
  	
<% end%>