<%= form_for @purpose_statement, method: :put, url: wizard_path, :html => { :multipart => true, :class => 'form-horizontal' }  do |f|  %>

    <!--<div class="page-header">
      <h2><%#=t '.title', :default => t('Your Application', :default => "Your Application") %></h2>
	</div>-->
    <div class="page-header">
	    <h2>Attach your Purpose Statement</h2>
    </div>
	<div class="control-group">
	   <%#= f.label :purpose_statement, :class => 'control-label' %>
      <div class="controls">
	       <p class ="guide">Attach a PDF file (.pdf) containing a brief statement of purpose describing your goals
	       and motivations to pursue a career in Information Assurance and Computer Security (Max 2 pages)</p>
	       <br />
           <%= f.file_field :purpose %>
            <% unless !@purpose_statement.errors.has_key?(:purpose)%>
                <span class="help-inline"><%= @purpose_statement.errors[:purpose].join(", ") %></span>
            <%end%>

            <%= f.submit "Save", :value => 'Upload' ,:class => 'btn', disabled: true %>
            <br /><br />
            <strong>Uploaded File:</strong>
            <br /><br />
              <% if !@purpose_statement.id.nil?%>
                File received: <%= link_to @purpose_statement.purpose_file_name, @purpose_statement.purpose.url, :target => '_blank'%>
                <%=link_to t('.Remove'), remove_purpose_path(@purpose_statement.id), :confirm => 'You are about to remove your uploaded file. Continue?', :class=>'btn btn-danger custom-btn'%>
                <br />
              <% end%>
	    </div>
	</div>
	<hr />

  	<div class="form-actions">
      <% if @cs_application.progress == 100 %>
          <%= f.submit "Update Purpose Statement", :class => 'btn btn-primary' %>
      <%else%>
          <%= link_to t('.back'), previous_wizard_path, :class => 'btn btn-default' %>
          <%= f.submit "Next", :class => 'btn btn-primary' %>
      <%end %>
    	<%= link_to t('.cancel', :default => t("helpers.links.cancel")), cs_applications_path, :class => 'btn btn-danger' %>
  	</div>
<% end%>
