<%= form_for @cs_application, url: wizard_path, :html => { :class => 'form-horizontal' }  do |f|  %>

	<!--<div class="page-header">
  		<h2><%#=t '.title', :default => t('Your Application', :default => "Your Application") %></h2>
	</div>-->
    <div class="page-header">
	<h2>Send Invitations for Recommendation</h2>
	</div>

	<h4>First Recommendation</h4>
	<% if !@cs_application.recommendations.first.nil? %>
		<% @recommendation1 = @cs_application.recommendations.first%>
		Name: <%= @recommendation1.name%> <br />
		Title: <%= @recommendation1.title%> <br />
		Email: <%= @recommendation1.email%> <br /><br />
		<% if !@recommendation1.email.nil? %>
			<% if @recommendation1.status=="SENT" || @recommendation1.status=="COMPLETED" %>
				<%= link_to "Resend Email", send_invitation_path(@recommendation1), :class => 'btn btn-success' %>
            <%else%>
				<%= link_to "Send Email", send_invitation_path(@recommendation1), :class => 'btn btn-success' %>
			<% end%>
		<% else %>
			<strong>*Please enter all information</strong>
		<% end %>
	<% else%>
		Information not available
	<% end%>
    <br /><br />
	<h4>Second Recommendation</h4>
	<% if !@cs_application.recommendations.second.nil? %>
		<% @recommendation2 = @cs_application.recommendations.second%>
		Name: <%= @recommendation2.name%> <br />
		Title: <%= @recommendation2.title%> <br />
		Email: <%= @recommendation2.email%> <br /><br />
		<% if !@recommendation2.email.nil?%>
			<% if @recommendation2.status=="SENT"  || @recommendation2.status=="COMPLETED" %>
				<%= link_to "Resend Email", send_invitation_path(@recommendation2), :class => 'btn btn-success' %>
            <%else%>
				<%= link_to "Send Email", send_invitation_path(@recommendation2), :class => 'btn btn-success' %>
            <% end%>
		<% else %>
			<strong>*Please enter all information</strong>
		<% end %>
	<% else%>
		Information not available
	<% end%>
	<hr />


	<div class="form-actions">
		<%= link_to t('.back'), previous_wizard_path, :class => 'btn btn-default' %>
		<%= f.submit "Next", :class => 'btn btn-primary' %>
		<%= link_to t('.cancel', :default => t("helpers.links.cancel")), cs_applications_path, :class => 'btn btn-warning' %>
	</div>

<% end%>

<br /><br />
