<%= form_for [@recommendation1,@recommendation2], method: :put, url: wizard_path, :html => { :class => 'form-horizontal' }  do |recommendation|  %>

    <!--<div class="page-header">
  		<h2><%#=t '.title', :default => t('Your Application', :default => "Your Application") %></h2>
	</div>-->
    <div class="page-header">
	    <h2>Send Invitations for Recommendation</h2>
	</div>
	You need two letters of recommendations to complete this application. Fill the following form to send electronic
	recommendation invitations.
	<hr />

	<%= fields_for :recommendation1 do |recommendation1|%>
	<div class="control-group">
		<%= recommendation1.label :name, :class => 'control-label' %>
		<div class="controls">
          <%= recommendation1.text_field :name, :class => 'text_field' %>
          <% unless !@recommendation1.errors.has_key?(:name)%>
              <span class="help-inline"><%= @recommendation1.errors[:name].join(", ") %></span>
          <%end%>
		</div>
	</div>
	<div class="control-group">
		<%= recommendation1.label :title, :class => 'control-label' %>
		<div class="controls">
          <%= recommendation1.text_field :title, :class => 'text_field' %>
          <% unless !@recommendation1.errors.has_key?(:title)%>
              <span class="help-inline"><%= @recommendation1.errors[:title].join(", ") %></span>
          <%end%>
		</div>
	</div>
	<div class="control-group">
		<%= recommendation1.label :email, :class => 'control-label' %>
		<div class="controls">
          <%= recommendation1.email_field :email, :class => 'email_field' %>
          <% unless !@recommendation1.errors.has_key?(:email)%>
              <span class="help-inline"><%= @recommendation1.errors[:email].join(", ") %></span>
          <%end%>
		</div>
	</div>

	<%end%>
	
	<hr />
	
	<%= fields_for :recommendation2 do |recommendation2|%>
	<div class="control-group">
		<%= recommendation2.label :name, :class => 'control-label' %>
		<div class="controls">
          <%= recommendation2.text_field :name, :class => 'text_field' %>
          <% unless !@recommendation2.errors.has_key?(:name)%>
              <span class="help-inline"><%= @recommendation2.errors[:name].join(", ") %></span>
          <%end%>
		</div>
	</div>
	<div class="control-group">
		<%= recommendation2.label :title, :class => 'control-label' %>
		<div class="controls">
          <%= recommendation2.text_field :title, :class => 'text_field' %>
          <% unless !@recommendation2.errors.has_key?(:title)%>
              <span class="help-inline"><%= @recommendation2.errors[:title].join(", ") %></span>
          <%end%>
		</div>
	</div>
	<div class="control-group">
		<%= recommendation2.label :email, :class => 'control-label' %>
		<div class="controls">
          <%= recommendation2.email_field :email, :class => 'email_field' %>
          <% unless !@recommendation2.errors.has_key?(:email)%>
              <span class="help-inline"><%= @recommendation2.errors[:email].join(", ") %></span>
          <%end%>
		</div>
	</div>

	<%end%>
	<hr />
	<div>
		You will get options to send invitations in next page.
	</div>
	<div class="form-actions">
		<%= link_to t('.back'), previous_wizard_path, :class => 'btn btn-default' %>
		<%= recommendation.submit "Next", :class => 'btn btn-success' %>
		<%= link_to t('.cancel', :default => t("helpers.links.cancel")), cs_applications_path, :class => 'btn btn-warning' %>
	</div>

<% end%>
<br /><br />