<%= form_for @transcript, method: :put, url: wizard_path, :html => { :multipart => true, :class => 'form-horizontal' }  do |f|  %>

    <div class="page-header">
      <h1><%=t '.title', :default => t('Your Application', :default => "Your Application") %></h1>
    </div>

    <div class="control-group">
      <%#= f.label :submit_transcripts, :class => 'control-label' %>
      <div class="controls">
        Attach your transcripts. Click on 'Upload' after selecting your file to add another attachment. Attachments can be
        images of your scanned transcripts or PDF.
        <br /> <br />
        <%#= f.fields_for :transcripts do |transcript|%>
        <%= f.file_field :document %>
        <% unless !@transcript.errors.has_key?(:document)%>
            <span class="help-inline"><%= @transcript.errors[:document].join(", ") %></span>
        <%end%>
        <br />
        <%= f.submit "Save", :value => 'Upload' ,:class => 'btn', disabled: true  %>
        <%#end%>
        <br /><br />
        <strong>Uploaded transcripts</strong>
        <br /><br />
        <ol>
          <%# @transcript_all = @transcript%>
          <% current_user.cs_application.transcripts.each do |transcript|%>
              <% if !transcript.id.nil? %>
                  <li>
                    <%=link_to transcript.document_file_name, transcript.document.url%>
                    <%=link_to t('.Remove'), remove_attachment_path(transcript.id), :confirm => 'You are about to remove your uploaded file. Continue?', :class=>'btn btn-danger custom-btn'%>
                  </li>
              <% end%>

          <% end%>
        </ol>
      </div>
    </div>

    <div class="form-actions">
      <%= link_to t('.back'), previous_wizard_path, :class => 'btn btn-default' %>
      <%= f.submit "Next", :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")), cs_applications_path, :class => 'btn btn-warning' %>
    </div>

<% end%>
