<%= form_for @cs_application, :html => { :class => 'form-horizontal' } do |f| %>

    <h3>Provide Your Basic Information</h3>
    <br />

  <div class="control-group">
    <%= f.label :first_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :first_name, :class => 'text_field' %>
      <% unless !@cs_application.errors.has_key?(:first_name)%>
        <span class="help-inline"><%= @cs_application.errors[:first_name].join(", ") %></span>
      <%end%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :middle_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :middle_name, :class => 'text_field' %>
      <% unless !@cs_application.errors.has_key?(:middle_name)%>
         <span class="help-inline"><%= @cs_application.errors[:middle_name].join(", ") %></span>
      <%end%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :last_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :last_name, :class => 'text_field' %>
      <% unless !@cs_application.errors.has_key?(:last_name)%>
         <span class="help-inline"><%= @cs_application.errors[:last_name].join(", ") %></span>
      <%end%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :towson_id_number, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :towson_id_number, :class => 'number_field' %>
      <% unless !@cs_application.errors.has_key?(:towson_id_number)%>
          <span class="help-inline"><%= @cs_application.errors[:towson_id_number].join(", ") %></span>
      <%end%>
    </div>
  </div>
  <!--<div class="control-group">
    <%#= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%#= f.text_field :email, :class => 'text_field', :value => current_user.email %>
      <%# unless !@cs_application.errors.has_key?(:email)%>
          <span class="help-inline"><%#= @cs_application.errors[:email].join(", ") %></span>
      <%#end%>
    </div>
  </div>-->
    <div class="control-group">
      <%= f.label :phone, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :phone, :class => 'number_field' %>
        <% unless !@cs_application.errors.has_key?(:phone)%>
            <span class="help-inline"><%= @cs_application.errors[:phone].join(", ") %></span>
        <%end%>
      </div>
    </div>
    <br />
    <div class="control-group">
      <div class="controls">
        <%= f.check_box :is_citizen, :class => 'number_field' %> Check if you are a US citizen.
        <% unless !@cs_application.errors.has_key?(:is_citizen)%>
            <span class="help-inline"><%= @cs_application.errors[:is_citizen].join(", ") %></span>
        <%end%>
      </div>
    </div>
	<%= f.hidden_field :user_id, :value => current_user.id%>
  <div class="form-actions">
    <% if @cs_application.progress == 100 %>
        <%= f.submit "Update Basic Information", :class => 'btn btn-primary', :onclick=> "validateCheckbox();" %>
    <%else%>
        <%= f.submit "Next", :class => 'btn btn-primary', :onclick=> "validateCheckbox();" %>
    <%end%>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                cs_applications_path, :class => 'btn btn-warning' %>
  </div>
<% end %>
