<%= form_for @cs_application, :html => { :class => 'form-horizontal' } do |f| %>

    <% if @cs_application.errors.any? %>
        <div class="error_messages">
          <% @cs_application.errors.full_messages.each do |error| %>
              <p><%= error %></p>
          <% end %>
        </div>
    <% end %>
    <br />
    <h3>Basic Information</h3>
    <br />

  <div class="control-group">
    <%= f.label :first_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :first_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :middle_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :middle_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :last_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :last_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :towson_id_number, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :towson_id_number, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field', :value => current_user.email %>
    </div>
  </div>
    <div class="control-group">
      <div class="controls">
        <%= f.check_box :is_citizen, :class => 'number_field' %> This application requires applicants to be a US citizen.<br /> Check if you are a US citizen.
      </div>
    </div>
    <div class="control-group">
      <%= f.label :phone, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :phone, :class => 'number_field' %>
      </div>
    </div>
	<%= f.hidden_field :user_id, :value => current_user.id%>
  <div class="form-actions">
    <%= f.submit "Next", :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                cs_applications_path, :class => 'btn btn-warning' %>
  </div>
  
<% end %>
