<style type="text/css">
#wrap {
   width:700px;
   margin:0 auto 2em auto;
   padding: 5px;
   float:left;
   border: 1px solid;
   border-radius: 5px;
}
.left_col {
   float:left;
   width:340px;
}
.right_col {
   float:right;
   width:340px;
}

.title {
	clear:both;
	padding-top: 8px;
	padding-bottom: 2px;
}
.empty {
	padding-top: 3px;
}
</style>
<h2>Review Your Application</h2>

<br />
<div id="wrap">
	<div class="title">
		<h4>Basic Information (<%= link_to "Edit", edit_cs_application_path(@cs_application) %>)</h4>
	</div>
	<div class="left_col">
		First Name
	</div>
	<div id="right_col">
		<%= !@cs_application.first_name.blank? ? @cs_application.first_name : 'Not Provided' %>
	</div>
	<div class="left_col">
		Middle Name
	</div>
	<div id="right_col">
		<%= !@cs_application.middle_name.blank? ? @cs_application.middle_name : 'Not Provided' %>
	</div>
	<div class="left_col">
		Last Name
	</div>
	<div id="right_col">
		<%= !@cs_application.last_name.blank? ? @cs_application.last_name : 'Not Provided' %>
	</div>
		<div class="left_col">
		TU ID
	</div>
	<div id="right_col">
		<%= !@cs_application.towson_id_number.blank? ? @cs_application.towson_id_number : 'Not Provided' %>
	</div>
	<div class="left_col">
		Contact Email
	</div>
	<div id="right_col">
		<%= !@cs_application.email.blank? ? @cs_application.email : 'Not Provided' %>
	</div>
		<div class="left_col">
		US Citizen?
	</div>
	<div id="right_col">
		<%= !@cs_application.is_citizen.blank? ? @cs_application.is_citizen : 'Not Provided' %>
	</div>

    <br />
	<div class="title">
		<h4>Contact Information (<%= link_to "Edit", edit_mailing_address_path(@cs_application.mailing_address)%>)</h4>
	</div>

		<div class="left_col">
		Name
	</div>
	<div id="right_col">
		<%= !@cs_application.mailing_address.name.blank? ? @cs_application.mailing_address.name : 'Not Provided' %>
	</div>
	<div class="left_col">
		Address Line1
	</div>
	<div id="right_col">
		<%= !@cs_application.mailing_address.address_line1.blank? ? @cs_application.mailing_address.address_line1 : 'Not Provided' %>
	</div>
	<div class="left_col">
		Address Line2
	</div>
	<div id="right_col">
		<%= !@cs_application.mailing_address.address_line2.blank? ? @cs_application.mailing_address.address_line2 : 'Not Provided' %>
	</div>
		<div class="left_col">
		City
	</div>
	<div id="right_col">
		<%= !@cs_application.mailing_address.city.blank? ? @cs_application.mailing_address.city : 'Not Provided' %>
	</div>
	<div class="left_col">
		State
	</div>
	<div id="right_col">
		<%= !@cs_application.mailing_address.state_id.blank? ? @cs_application.mailing_address.state.name : 'Not Provided' %>
	</div>
	<div class="left_col">
		Zip
	</div>
	<div id="right_col">
		<%= !@cs_application.mailing_address.zip.blank? ? @cs_application.mailing_address.zip : 'Not Provided' %>
	</div>
	<div class="left_col">
		Telephone
	</div>
	<div id="right_col">
		<%= !@cs_application.phone.blank? ? @cs_application.phone : 'Not Provided' %>
	</div>

    <br />
	<% @cs_application.institutions.each do |institution|%>
      <div class="title">
        <h4>Educational Information (<%= link_to "Edit", edit_institution_path(institution.id) %>)</h4>
      </div>
      <br />
		<div class="left_col">
			Institution
		</div>
		<div id="right_col">
			<%= !institution.institution.blank? ? institution.institution : 'Not Provided' %>
		</div>
		<div class="left_col">
			City
		</div>
		<div id="right_col">
			<%= !institution.city.blank? ? institution.city : 'Not Provided' %>
		</div>
		<div class="left_col">
			Attended From
		</div>
		<div id="right_col">
			<%= !institution.attended_from.blank? ? institution.attended_from : 'Not Provided' %>
		</div>
		<div class="left_col">
			Attended To
		</div>
		<div id="right_col">
			<%= !institution.attended_to.blank? ? institution.attended_to : 'Not Provided' %>
		</div>
		<div class="left_col">
			Degree
		</div>
		<div id="right_col">
			<%= !institution.degree.blank? ? institution.degree : 'Not Provided' %>
		</div>
		<div id="empty"> &nbsp; </div>
	<% end%>
    <br />
	<div class="title">
		<h4>Purpose (<%= link_to "Edit", "/application_steps/purpose_statement" %>)</h4>
	</div>
	<div class="left_col">
		Purpose Statement
	</div>
	<div id="right_col">
        <% @purpose_statement = @cs_application.purpose_statement%>
		<%= !@purpose_statement.purpose.nil? ? (link_to @purpose_statement.purpose_file_name, @purpose_statement.purpose.url) : "Not Provided"%>
	</div>

    <br />
    <div class="title">
        <h4>Transcript (<%= link_to "Edit", "/application_steps/transcripts" %>)</h4>
     </div>
	<div class="left_col">
		Transcript(s)
	</div>
	<div id="right_col">
		<% @transcript_all = @cs_application.transcripts%>
		<% @transcript_all.each do |transcript|%>
			<%=link_to transcript.document_file_name, transcript.document.url%>
		<% end%>
	</div>

    <br />
	<div class="title">
		<h4>Recommendations (<%= link_to "Edit", "/application_steps/send_recommendations" %>)</h4>
	</div>
	<% if !@cs_application.recommendations.first.nil? %>
		<% @recommendation1 = @cs_application.recommendations.first%>
		<div class="left_col">
			Name: <%= @recommendation1.name%> 
		</div>
		<div id="right_col">
			Status:
			<% if @recommendation1.status==1 || @recommendation1.status==2%>
				Invitation Sent
			<% else%>
				Not Sent
			<% end%>
		</div>
	<% else %>
		<div class="left_col">
			Name: Not Provided
		</div>
		<div id="right_col">
			Status: -
		</div>
	<% end%>
	
	<% if !@cs_application.recommendations.second.nil? %>
		<% @recommendation1 = @cs_application.recommendations.second%>
		<div class="left_col">
			Name: <%= @recommendation1.name%> 
		</div>
		<div id="right_col">
			Status:
			<% if @recommendation1.status==1 || @recommendation1.status==2%>
				Invitation Sent
			<% else%>
				Not Sent
			<% end%>
		</div>
	<% else %>
		<div class="left_col">
			Name: Not Provided
		</div>
		<div id="right_col">
			Status: -
		</div>
	<% end%>

</div>
<br /><br />

<div class="form-actions">
	<%= link_to t('.Send_Application'),
                submit_application_path(@cs_application.id), :class => 'btn btn-primary', :confirm =>  'You will not be able to edit your application after it is submitted. Continue?' %>
	
    <%= link_to t('.print_review'),
                review_application_path(format: "pdf", id: @cs_application.id), :target => '_blank', :class => 'btn btn-success' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                cs_applications_path, :class => 'btn btn-warning' %>
</div>
	

