<%- model_class = CsApplication -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
  <dd><%= @cs_application.user_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:first) %>:</strong></dt>
  <dd><%= @cs_application.first %></dd>
  <dt><strong><%= model_class.human_attribute_name(:middle) %>:</strong></dt>
  <dd><%= @cs_application.middle %></dd>
  <dt><strong><%= model_class.human_attribute_name(:last) %>:</strong></dt>
  <dd><%= @cs_application.last %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tuid) %>:</strong></dt>
  <dd><%= @cs_application.tuid %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @cs_application.email %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              cs_applications_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_cs_application_path(@cs_application), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              cs_application_path(@cs_application),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
