<!DOCTYPE html>
<html>
<head>
  <title>TUCCSA</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="towson-line"></div>
<nav class="navbar navbar-inverse navbar-embossed" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="/"><%#= image_tag 'tucsa.png', :height=> '20px', :width=>'20px' %>TUCSSA</a>
  </div>
  <div class="collapse navbar-collapse" id="navbar-collapse-01">
    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to "About TU", "http://www.towson.edu/main/abouttu/index.asp", :target=>'_blank'%></li>
      <li><%= link_to "About Cyber Security","http://cis1.towson.edu/~cisweb/",:target=>'_blank'%></li>
    </ul>
    <% if user_signed_in? %>
        <ul class="nav navbar-nav navbar-right">
          <li class="divider-vertical"></li>
          <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown"><%=current_user.email%><strong class="caret"></strong></a>
            <div class="dropdown-menu">
              <ul>
                <li>
                  <%#= link_to "Profile", cs_application_path(@cs_application) %>
                </li>
                <li>
                  <%= link_to "Sign out", destroy_user_session_path, :method => 'delete'%>
                </li>
              </ul>
            </div>
          </li>
        </ul>
    <%end%>
  </div>
</nav>


<% flash.each do |name, msg|%>
	<% if msg[0..4]=="Error"%>
		<div class="alert alert-error fade in">
			<%= msg%>
			<a class="close" data-dismiss="alert" href="#">&times;</a>
		</div>
	<% else%>
		<div class="alert alert-success fade in">
			<%= msg%>
			<a class="close" data-dismiss="alert" href="#">&times;</a>
		</div>
	<% end%>	
<% end%>
	
<div class="container">
	<div class="row">
		<div class = "col-md-8"><%= yield %></div>
		<% if params[:controller]!="ratings" %>
			<div class = "col-md-4">
              <div class="status-info">
				<h3>Your Application Status: </h3>
				<% if user_signed_in? %>
					<% if !current_user.cs_application.nil? %>
						<% application = current_user.cs_application%>
						<% case application.status %>
						<% when CsApplication::STATUS_STARTED %>
							<h3>Started</h3>
						<% when CsApplication::STATUS_SUBMITTED %>
							<h3>Submitted</h3>
						<% when CsApplication::STATUS_REVIEWED %>
                            <h3>Reviewed</h3>
						<% when CsApplication::STATUS_DENIED %>
                            <h3>Denied</h3>
						<% when CsApplication::STATUS_APPROVED %>
                            <h3>Approved. Congratulations!!</h3>
						<% else %>
							<h4>Your application has been submitted.</h4>
						<% end %>
                        <div class="bar">
					        <h4>Application Progress Bar</h4>
						    <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: <%=get_progress%>%;"></div>
	  					    <!--<div class="bar" style="width: <%#=get_progress%>%;"></div>-->
					        </div>
                        </div>
					<% else %>
						<p>Application not started</p>
					<% end %>
				<% else %>
					<p>Please sign in to view your progress on the application. If you do not have your log-in username and password, you need to register
					to the site first.</p>
				<% end %>
              </div>
              <div class="info">
                <h2>About this scholarship</h2>
                <p>Please refer to application rules and conditions before applying this application.</p>
              </div>

			</div>
		<% else%>
			<div class = "col-md-8">
				<h2>TU Cybercorps Scholarship Program</h2>
				Student recommendation form.
				<h2>About this scholarship</h2>
				Scholarship details are provided in TU Cybersecurity website.
				<br />
			</div>
		<% end%>
	</div>
</div>
<div id="footer">
	<div class="towson-footer">
      <ul>
        <li><a href="http://www.towson.edu/" class="footlink">Towson University</a></li><span>|</span>
        <li><a href="http://cis.towson.edu/" class="footlink">Computer and Information Sciences Department</a></li><span>|</span>
        <li><a href="http://cis1.towson.edu/~cisweb/about-us-2/cybersecurity/" class="footlink">Cybersecurity at Towson University</a></li><span>|</span>
        <li><a href="http://www.sfs.opm.gov/" class="footlink">Scholarship for Service</a></li>
      </ul><p>Copyright © 2015. Towson University. All Rights Reserved. </p>
	</div>
</div>
</body>
</html>
